---
title: About
github:
  username: eowiz
---

<div class="flex flex-col max-w-3xl mx-auto">
  <div class="mx-auto justify-center">
    <img src="https://avatars.githubusercontent.com/u/109670069" width="150" height="150" class="rounded-full border-2 border-double border-slate-200 p-1 mb-4">
    <div class="text-center font-raleway text-3xl font-bold">eowiz</div>
    <div class="flex my-3 mx-auto justify-center">
      <a href="https://github.com/{{ github.username }}" target="_blank" rel="noreferrer noopener">
        <span class="ion-social-github text-4xl"></span>
      </a>
    </div>
  </div>
</div>
