---
title: About
---

<div class="flex flex-col max-w-3xl">
  <div class="mx-auto justify-center">
    <img src="https://avatars.githubusercontent.com/u/109670069" width="150" height="150" class="rounded-full border-2 border-double border-slate-200 p-1 mb-8">
    <div class="text-center font-raleway text-3xl font-bold">eowiz</div>
  </div>
</div>
