.title {
  font-family: "Noto Sans JP", san-serif;
  @apply text-2xl font-black;
  @apply mb-2;
}

.description {
  @apply text-sm text-gray-600;
}

.published_at {
  @apply flex items-center;
  @apply text-sm font-medium text-gray-800;
  @apply mb-2;
}

article h2 {
  font-family: "Noto Sans JP', san-serif";
  @apply pt-6 pb-2;
  @apply text-xl font-bold;
}

article h3 {
  font-family: "Noto Sans JP', san-serif";
  @apply pt-6 pb-2;
  @apply text-lg font-bold;
}

article h4 {
  font-family: "Noto Sans JP', san-serif";
  @apply pt-6 pb-2;
  @apply text-base font-bold;
}

article h5 {
  font-family: "Noto Sans JP', san-serif";
  @apply pt-6 pb-2;
  @apply text-sm font-bold;
}

article h6 {
  font-family: "Noto Sans JP', san-serif";
  @apply pt-6 pb-2;
  @apply text-xs font-bold;
}

article ul {
  @apply list-disc;
  @apply pl-6;
}

article :not(li) > ul {
  @apply py-3;
}

article ol {
  @apply list-decimal;
  @apply pl-6;
}

article :not(li) > ol {
  @apply py-3;
}

article blockquote {
  position: relative;
  @apply text-slate-600;
  @apply border-l-2 border-slate-600;
  @apply my-3 py-1 pl-3;
}

section[class*="toc"] ul {
  @apply px-0;
}

section[class*="toc"] ul li {
  @apply pl-2 my-3;
}

section[class*="toc"] ul li ul {
  @apply pl-2;
}

section[class*="toc"] a {
  @apply pl-2;
  @apply border-l-2 border-slate-300;
}

section[class*="toc"] a[class*="active"] {
  @apply border-slate-600;
}
