article {
  width: 100%;

  & hr {
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
}

.article-wrap {
  display: flex;
  width: 100%;
  max-width: 64rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
