header {
  background-color: var(--color-primary);
  color: var(--color-header-text);
  padding: 1rem 1rem;

  & .wrap {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 48rem;
  }

  & .title {
    font-family: "Bungee Outline", serif;
    font-size: 1.4rem;
  }

  & nav {
    font-family: "Raleway", sans-serif;
    margin-left: 3rem;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 0.925rem;
  }

  & li {
    margin-right: 2rem;
  }

  & a:hover {
    color: white;
  }
}
