section[class*="toc"] {
  & a {
    padding-left: 0.5rem;
    border-left: solid rgb(203 213 225);
  }

  & a[class*="active"] {
    border-left: solid rgb(71 85 105);
  }

  & ul li {
    padding-left: 1.5rem;
    margin-top: 0.5rem;
    margin-botton: 0.5rem;
  }
}
