<header class="bg-slate-700 px-3 py-4">
  <div class="flex max-w-3xl mx-auto">
    <a href="/">
      <div class="font-bungee_outline text-2xl text-slate-200 hover:text-white">
        {{ siteMetadata.title }}
      </div>
    </a>
    <nav class="flex ml-8">
      {% for item in header %}
        <a href="{{ item.link }}" class="text-slate-300 hover:text-white py-auto">
          <div class="font-raleway font-light mr-8 text-lg">
            {{ item.name }}
          </div>
        </a>
      {% endfor %}
    </nav>
  </div>
</header>
