{% if toc | length %}
  <ul>
    {% for item in toc %}
      <li>
        <a href="{{ item.url }}" class="border-l-2 border-slate-300 pl-2">
          {{ item.text }}
        </a>
        {{ comp.toc({ toc: item.children }) | safe }}
      </li>
    {% endfor %}
  </ul>
{% endif %}
